@using InternationalOnlineShopping.Utility
@using InternationalOnlineShopping.Models
@{
    List<InternationalOnlineShopping.Models.Category> AllCategories = (List<InternationalOnlineShopping.Models.Category>)ViewBag.CategoryAndSubCategory;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    @if (!string.IsNullOrEmpty(ViewBag.MetaKeywords))
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords">
    }
    @if (!string.IsNullOrEmpty(ViewBag.MetaPhrase))
    {
        <meta name="phrase" content="@ViewBag.MetaPhrase">
    }
    @if (!string.IsNullOrEmpty(ViewBag.MetaDescription))
    {
        <meta name="description" content="@ViewBag.MetaDescription">
    }
    <!--css-->
    <link rel="stylesheet" href="/CSS/stylesheet.css" media="all">
    <link rel="stylesheet" href="/CSS/owl.carousel.css">
    <link href="~/CSS/CustomStyleSheet.css" rel="stylesheet" />
    <link href="/CSS/sweetalert.css" rel="stylesheet" />
    @RenderSection("CSS", false)
    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
    <!--css-->
    <title> @ViewBag.MetaTitle </title>
</head>

<body class="@((Request.Url.AbsolutePath.ToLower() != "/" && Request.Url.AbsolutePath.ToLower() != "/home" && Request.Url.AbsolutePath.ToLower() != "/home/index") ? "bgColor" : "")">
    <!--Start main Container-->
    <div class="mainCon">
        <!--Start Header-->
        <header class="clearfix">
            <div class="browseCategories">
                <button type="button" class="categoriesBtn"><img src="/Images/toggleIcon.png" alt="img" /><span>Browse Categories</span></button>
            </div>
            @*  <div class="logoBar"><a href="/home/index"><img src="/Images/Logo.jpg" alt="logo" /></a></div>*@

            <div class="menuBar">
                <div class="menuMobile">
                    <ul>
                        @if(Session["MemberId"] != null)
                {
                    <li>Hello @(Request.Cookies["MemberName"] != null && !string.IsNullOrEmpty(Request.Cookies["MemberName"].Value) ? Request.Cookies["MemberName"].Value : "User")</li>
                    <li><a href="/shopping/mycart">Cart Items</a></li>
                    <li><a href="/account/logout">Logout</a></li>
        }
        else
        {
            @*<li><a href="javascript:void(0)" class="loginpopup">Login</a></li>*@
            <li><a href="/Register">Login</a></li>
            @*<li><a href="/Register">Sign Up</a></li>*@
}
                    </ul>
                </div>
            </div>
        </header>
     
    @RenderBody()


    <!--Login Popup/Modal-->
    @*@<div class="backBg" id="loginpopup">
            @{Html.RenderPartial("_Login", new InternationalOnlineShopping.Models.LoginViewModel() { UserEmailId = (Request.Cookies["RememberMe_UserEmailId"] != null ? Request.Cookies["RememberMe_UserEmailId"].Value : ""), Password = (Request.Cookies["RememberMe_Password"] != null ? Request.Cookies["RememberMe_Password"].Value : ""), RememberMe = string.IsNullOrEmpty((Request.Cookies["RememberMe_UserEmailId"] != null ? Request.Cookies["RememberMe_UserEmailId"].Value : "")) ? false : true });}
        </div>*@
    <!--End Popup/Modal-->
    </div>
    <!--script-->

    <script src="/Scripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/Scripts/function.js"></script>
    <script src="~/Scripts/CustomFunction.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/sweetalert-dev.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/datepicker.js"></script>
    @RenderSection("Scripts",false)
</body>
</html>
