@model InternationalOnlineShopping.Models.Member
@using (Ajax.BeginForm("_Login", "Account", FormMethod.Post, new AjaxOptions { OnSuccess = "OnSuccessLoginPopup", OnFailure = "OnSuccessLoginPopup", UpdateTargetId = "loginpopup", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="returnUrl" id="returnUrl" />
    <div class="loginBox" id="loginPoupForm">
        <div class="closepop">
            <img src="/images/closebtn.png" alt="">
        </div>
        <h1>Log In</h1>
        <h4 style="color:green;text-align:center">@TempData["EmailVarifiedMsg"]</h4>
        <div class="loginconentBox">
            <div class="cstmText">
                @Html.TextBoxFor(m => m.MemberId, new { @class = "inputmsg", @placeholder = "EmailAddress", @onkeypress = "return OnlyLegalCharacters();" })
                @Html.ValidationMessageFor(m => m.MemberId)
            </div>
            <div class="cstmText">
                @Html.TextBoxFor(m => m.Password, new { @class = "inputlock", @type = "Password", @placeholder = "Password", @onkeypress = "return OnlyLegalCharacters();" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            
            <div class="cstmText">
                <input type="submit" class="loginBtn_Submit" value="Log In" />
            </div>
        </div>
    </div>      }
<script>
     function InitializeCloseLoginPopup() {
    $(".closepop").click(function () {
     $("#loginpopup").fadeOut(400);
    $("body").removeClass("loghiddens");
    $("#loginpopup").fadeOut(400);
    });
    }
    function OnSuccessLoginPopup() {
             InitializeCloseLoginPopup();
      if ('@ViewBag.redirectUrl' != '') {
    window.location.href = '@Html.Raw(ViewBag.redirectUrl)';
      }
      }
</script>   